# .gitignore file for Python projects

# Ignore byte-compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environments
venv/
env/
.virtualenv/

# Ignore distribution files
dist/
build/
*.egg-info/
*.egg

# Ignore macOS files
.DS_Store
